.section-title {
  display: flex;
  justify-content: center;
  height: 20px;
  align-items: center;
}
.section-info-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 80px;
}
.section-info-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 70px;
  background-color: #c8cec442;
  margin: 0 5px;
  padding: 2px 4px;
}
.section-info-item svg {
  width: 30%;
  height: 30px;
}
.section-info-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  padding: 8px;
}
.section-info-card .info-title {
  font-size: 12px;
  font-weight: 600;
}
.section-info-card .info-text {
  font-size: 10px;
  font-weight: 400;
}

.section-info-container .rec-arrow {
  display: none;
}
.section-info-container .section-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.section-info-container {
  margin-bottom: 30px;
}

@media screen and (max-width: 960px) {
  .section-info-card {
    width: 70%;
  }
}
