.extra {
  width: 100%;
  box-shadow: 1px 1px 3px #e7e5dd;
}
.extra-container {
  display: flex;
  height: 100%;
  padding: 10px 80px;
  margin-top: 30px;
}

.extra-text {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}
.extra-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.extra-text p {
  font-size: 12px;
  line-height: 20px;
}

.extra-image {
  width: 70%;
}
.extra-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.extra-image-content {
  position: absolute;
  right: 20%;
  margin-top: 180px;
}
.extra-image-content p {
  font-size: 42px;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.5px;
}

.extra-image-content span {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #333;
}

@media screen and (max-width: 960px) {
  .extra-container {
    width: 350px;
    padding: 0 8px;
    flex-direction: column;
  }
  .extra-text {
    width: 350px;
  }
  .extra-image {
    width: 350px;
    margin-bottom: 30px;
  }
  .extra-image img {
    height: 200px;
  }
  .extra-image-content {
    margin-top: 380px;
    right: 10%;
  }
  .extra-image-content p {
    font-size: 20px;
    margin: 0;
  }
  .extra-image-content span {
    font-size: 14px;
  }
}
